.vs/*
Debug/*
Release/*
Managed/Debug/*
Managed/Release/*
Managed/obj/*
Managed/bin/*
Native/Debug/*
Native/Release/*

/Native/x64/Debug/*
/Native/x64/Release/*
/x64/Debug/*
/x64/Release/*
*.svg
